.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('./pictures/prov.jpg');
  filter: brightness(70%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead div div div {
    color: white;
    font-weight: 1000;
    background-color: #33290ce6;
    background-size: 100vh;
}
#presentazione {
    background-color: #343836;
    text-align: center;
    font-size: 18px;
    padding:08%;
    padding-top: 05%;
    padding-bottom: 05%;
}
#presentazione h1, #presentazione p {
    color: white;
}
footer {
    font-size: 10px;
    text-align: center;
    padding: 03%;
    background-color: #f8f9fa;
}
.notes {
    font-size: 14px;
    padding-top: 07%;
    padding-bottom: 05%;
    padding-right: 01%;
    padding-left: 01%;
}
#toppp::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scroll {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #676048; /* Set a background color */
  color: #a88e33; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0.5%;
  padding-top:  0.5%;
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scroll:hover {
  background-color: #a88e33; /* Add background-color on hover */
}